* {
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0;
}

/* Nav pc */

.nav {
    display: flex;
    background-color: #333;
    align-items: center;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-right: 48px;
}

/* nav mobile */

.nav__mobile-bar.fas {
    color: #fff;
    font-size: 32px;
    line-height: 54.4px;
    margin-left: 16px;
    display: none;
    cursor: pointer;
}

.nav__mobile-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.nav__mobile {
    position: fixed;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    width: 350px;
    display: none;
    animation: navMobileAnimation ease 0.3s;
    /* transition: all linear 0.3s; */
}

.nav__mobile.open, 
.nav__mobile-overlay.open {
    display: block;
}

.nav__mobile-close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
    padding: 12px 16px;
    cursor: pointer;
}

.nav__mobile-list {
    list-style: none;
    padding-top: 12px;
}

.nav__mobile-link {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin: 40px 0;
    display: block;
}

@keyframes navMobileAnimation {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


/*  */

.main {
    width: 1200px;
    background-color: #fff; 
    max-width: 100%;
    margin: 0px auto 160px;
    padding-bottom: 20px;
}
/* Product */

.product {
    padding: 34px 16px 0px;
    display: flex;
}

.product-picture {
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.product-info {
    width: 60%;
    padding: 10px;
}

/* Comlumn layout */
.column-layout {
    display: flex;
    padding: 12px 0;
    margin-top: 36px;
}

.column-category {
    width: 20%;
    padding: 0 16px;
}

.column-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.column-course {
    width: 25%;
    padding: 0 16px;
}

.feature-layout {
    display: flex;
    margin-top: 36px;
    justify-content: space-around;
}

.feature-items {
    padding: 12px 16px;
    flex-basis: 30%;
    margin-top: 16px;
}

.feature-items:nth-child(1) {
    background-color: cadetblue;
}

.feature-items:nth-child(2) {
    background-color: darksalmon;
}

.feature-items:nth-child(3) {
    background-color: darkseagreen;
}

/* width < 1024px */
@media screen and (max-width: 63.9375em) {
    .product {
        flex-direction: column-reverse;
    }

    .product-description {
        display: none;
    }

    .product-info {
        width: 100%;
    }

    .nav__pc {
        display: none;
    }

    .nav__mobile-bar.fas {
        display: block;
    }


}

/* Tablet */
@media screen and (max-width: 63.9375em) and (min-width: 46.25em){
    .product-picture {
        width: 85%;
    }

    .column-course {
        width: 33.333%;
    }
    


}

/* Smartphone < 740px */
@media screen and (max-width: 46.1875em){
    .product-picture {
        width: 95%;
    }

    .column-category {
        display: none;
    }

    .column-container {
        width: 100%;
    }

    .column-course {
        width: 100%;
        text-align: center;
    }

    .feature-layout {
        flex-direction: column;
    }
}

